body {
 background-color: #f50dfd;
}
.main {
 background-color: #f50dfd;
 width: 555px;
 height: 1060px;
 margin: 0 auto;
}
.photo {
 background-color: #f50dfd;
 clear:both;
 float: left;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
.kontakt {
 background-color: #f50dfd;
 border: 3px solid black;
 width: 260px;
 clear:both;
 float: left;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
.langyage {
 background-color: #f50dfd;
 border: 3px solid black;
 width: 260px;
 clear:both;
 float: left;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
.napr {
 background-color: #f50dfd;
 border: 3px solid black;
 width: 260px;
 clear:both;
 float: left;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
.prof {
 background-color: #f50dfd;
 border: 3px solid black;
 width: 260px;
 clear:both;
 float: left;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
.interes {
 background-color:#f50dfd;
 border: 3px solid black;
 width: 260px;
 clear:both;
 float: left;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
.me {
 background-color: #0dd7f178;
 width: 260px;
 display: flex;
 flex-direction: column-reverse;
 top: 1250px;
 left: 740px;
 padding: 5px;
 margin: 5px;
 box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
 border-radius: 40px;
height: 200px;
}
.obrazov {
 background-color: #f1d100b2;
 width: 260px;
 display: flex;
 flex-direction: column-reverse;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
 height: 300px;
}
.naviki {
 background-color: #08f1a3;
 width: 260px;
 height: 300px;
 display: flex;
 flex-direction: column-reverse;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
.program {
 background-color: #f6ff00;
 width: 260px;
 height: 200px;
 display: flex;
 flex-direction: column-reverse;
 padding: 5px;
 margin: 5px;
 border-radius: 40px;
}
h1 {font-size: 25px;
 font-weight: lighter;
 color: #013220;
 fontfamily: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sansserif;
}
ul {
 font-size: 16px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: #013220;
 list-style-type: circle;
}
p {
 font-size: 16px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: #013220;
}